<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'><b>Clasificador de imágenes digestivas para Esofagitis, Normal, Pólipos y Colitis ulcerosa</b></div>
    <p>
      ¡Sube tu imagen para detectar una enfermedad digestiva!
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Seleccionar imagen</button>
      <div class='upload-label'>
        <label id='upload-label'>Ningún archivo elegido</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analizar</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
  <div class ='acknowledgment'>
      <p>
        <b>Agradecimientos:</b> 
      </p>
      
  	</div>
  <div class ='images'>
       		<p>
			<a href="https://www.citic.udc.es/" target="_blank"><img alt="CITIC" src="citic.png"></a>
			<a href="https://www.udc.es/en/" target="_blank"><img alt="UDC" src="udc.png"></a>
			<a href="https://www.xunta.gal/portada/" target="_blank"><img alt="XUNTA DE GALICIA" src="xunta.png"></a>
		</p>
  	</div> 
    <div class='created'>
      <p>
        <label id='created'>Creado por Verónica Aranda @CITIC (veronicaarandajt@gmail.com)</label>
      </p>
      </div>
  	
</body>
</html>
